@font-face {
  font-family: Geist Sans;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./geist-sans-latin-400-normal.woff2) format("woff2"),url(./geist-sans-latin-400-normal.BOaIZNA2.woff) format("woff")
}